
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subperfiles</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
{% extends 'base.html' %}
{% block content %}
<body>

<!-- Sección Hero -->
<section class="Title">
    <div class="container text-center">
        <h1 class="display-4">Selecciona el subperfil</h1>
    </div>
</section>

<!-- Características -->
<section id="card" class="py-5">
    <div class="container d-flex justify-content-center"></div>
        <div class="book">
            <p>ocupacion</p>
            <div class="cover">
                <p>referenciar todo</p>
            </div>
       </div>
    </div>
</section>
</body>
{% endblock content %}
