{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subperfiles</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/subprofile.css' %}">
    {% endblock style %}
</head>

<body>
<!-- Sección Hero -->
<div class="content">
    <section class="Title">
        <div class="container text-center">
            <h1 class="roboto-blackr">Selecciona el subperfil</h1>
        </div>
    </section>


    <section>
        {% for subprofile in subprofiles%}
            <div class="content">
                <div class="card">
                    <div class="card-left">
                        <img src="{{ subprofile.2 }}" alt="" style="width: 125px; height: 200px; border-radius: 8px;">
                        <p class="heading">{{subprofile.1}}</p>
                        <p>Información personal:</p>
                        <p>Nombre: {{ subprofile.0.curriculum.informacion_personal.nombre }}</p>
                        <p>Teléfono: {{ subprofile.0.curriculum.informacion_personal.telefono }}</p>
                        <p>Email: {{ subprofile.0.curriculum.informacion_personal.email }}</p>
                        <a href="{% url 'download' subprofile_id forloop.counter0 %}" class="button">Descargar</a>
                    </div>
                    <div class="card-right">
                        <p>Habilidades Técnicas: 
                            {% for habilidad in subprofile.0.curriculum.secciones.habilidades_tecnicas %} {{ habilidad }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </p>
                        <p>Habilidades Blandas:
                            {% for habilidad2 in subprofile.0.curriculum.secciones.habilidades_blandas %} {{ habilidad2 }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </p>
                        <p>Idiomas:
                            {% for idioma in subprofile.0.curriculum.secciones.idiomas %} {{ idioma }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </p>
                        <p>Hobbies:
                            {% for hobbie in subprofile.0.curriculum.secciones.hobbies %} {{ hobbie }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </p>
                        {% if subprofile.0.curriculum.secciones.experiencia_laboral %}
                            <p>Experiencia laboral:
                                {% for experiencia in subprofile.0.curriculum.secciones.experiencia_laboral %} Empresa: {{ experiencia.empresa }} - Cargo: {{ experiencia.cargo }} - Tiempo: {{ experiencia.duracion }} {% if not forloop.last %}, {% endif %}{% endfor %}
                            </p>
                        {% endif %}
                        <p>Educación:
                            {% for educacion in subprofile.0.curriculum.secciones.educacion %} Titulo: {{ educacion.titulo }} - Institucion: {{ educacion.institucion }} - Año: {{ educacion.ano }}{% if not forloop.last %}, {% endif %}{% endfor %}
                        </p>
                        <p>Referencias:
                            {% for referencia in subprofile.0.curriculum.secciones.referencias %} Nombre: {{ referencia.nombre }} - Relacion: {{ referencia.relacion_profesion }} - Contacto: {{ referencia.contacto }} {{ referencia}}{% if not forloop.last %}, {% endif %}{% endfor %}
                            
                        </p>
                    </div>
                </div>
            </div>
            <br><br><br>
        {% endfor%}
    </section>
</div>
</body>
{% endblock content %}
