{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subperfiles</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/subprofile.css' %}">
    {% endblock style %}
</head>

<body>
<!-- Sección Hero -->
<section class="Title">
    <div class="container text-center">
        <h1 class="display-4">Selecciona el subperfil</h1>
    </div>
</section>

<!-- Características -->
<section id="card" class="py-5">
    {% for subprofile in subprofiles%}
        <div class="container d-flex justify-content-center">
            <div class="book">
                <br>
                <br>
                <img src="{{ subprofile.2.url }}"  alt="" style="width: 250px; height: 400px; border-radius: 8px;">
                <br>
                <p>informacion personal: </p>
                <p>Nombre: {{ subprofile.0.curriculum.informacion_personal.nombre}}</p>
                <p>Telefono: {{ subprofile.0.curriculum.informacion_personal.telefono}}</p>
                <p>Email: {{ subprofile.0.curriculum.informacion_personal.email}}</p>
                <p>Habilidades Tecnicas: {% for habilidad in subprofile.0.curriculum.secciones.habilidades_tecnicas %} {{ habilidad }}, {% endfor %}</p>
                <p>Habilidades Blandas: {% for habilidad2 in subprofile.0.curriculum.secciones.habilidades_blandas %} {{ habilidad2 }}, {% endfor %}</p>
                <p>Idiomas: {% for idioma in subprofile.0.curriculum.secciones.idiomas %} {{ idioma }}, {% endfor %}</p>
                <p>Hobbies: {% for hobbie in subprofile.0.curriculum.secciones.hobbies %} {{ hobbie }}, {% endfor %}</p>
                {% if subprofile.0.curriculum.secciones.experiencia_laboral %}
                    <p>Experiencia laboral: {% for experiencia in subprofile.0.curriculum.secciones.experiencia_laboral %} {{ experiencia }}, {% endfor %}</p>
                {% endif %}
                <p>Educacion: {% for educacion in subprofile.0.curriculum.secciones.educacion %} {{ educacion }}, {% endfor %}</p>
                <p>Referencias: {% for referencia in subprofile.0.curriculum.secciones.referencias %} {{ referencia }}, {% endfor%}</p>
                <div class="cover">
                    <p>{{ subprofile.1 }}</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    {% endfor %}
</section>
</body>
{% endblock content %}
