{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <div class="row g-0">
        <div>
            <div class="card-body">
                <h5 class="card-title">Crear perfil</h5>
                <p class="card-text">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p><small>Separa las ocupaciones con una coma, por ejemplo: "Desarrollador, Diseñador, Administrador"</small></p>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
