* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Hero Section */
.hero-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 99vw;
  height: 100vw;
  background-image: url(../images/background1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.features-section {
  margin-top: 90vh; /* Mueve estas secciones hacia abajo, justo debajo de .hero-section */
}

.hero-text h1 {
  font-size: 3.5em;
  color: #FFD700;
}

.hero-text h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #FFDB58;
}

.hero-text a {
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.625rem 1rem;
  background-color: #FFD700;
  border-radius: 0.375rem;
  text-decoration: none;
}

.hero-text .btn {
  outline: none;
}

.hero-text a:hover {
  background-color: #FFD700;
}

/* Features Section */
.features-section .section-title {
  font-size: 2.5em;
  color: #000;
  margin-bottom: 20px;
}

.card {
  background: #FFD700;
  padding: 20px;
  min-height: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}



.card-title {
  font-size: 1.5rem;
  color: #000;
}

.card-text {
  color: #000;
  margin-top: 10px;
}

/* Testimonials Section */
.testimonials-section .section-title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  margin-left: auto; /* Centra el contenedor desde la izquierda */
  margin-right: auto; /* Centra el contenedor desde la derecha */
}

.btn {
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.625rem 1rem;
  background-color: #FFD700; /* Color de fondo amarillo */
  border-radius: 0.375rem;
  text-decoration: none;
  border: none; /* Opcional, para quitar bordes por defecto */
}

.btn:hover {
  background-color: #FFDB58; /* Mantén el mismo color en hover */
  color: #000000; /* Mantén el mismo color de texto en hover */
}

/* Estilos adicionales para enlaces si se utilizan con clase .btn */
.a, .btn:text-btn {
  color: #000000;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.625rem 1rem;
  background-color: #FFD700;
  border-radius: 0.375rem;
  text-decoration: none;
}

.card2 {
  background: #f4f4f4;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
}

.blockquote-footer {
  text-align: right;
  font-size: 1em;
  color: #666;
}

@media (max-width: 768px) {
  .testimonials-section .section-title {
    font-size: 2em;
  }

  .card2 {
    padding: 15px;
  }

  .row {
    flex-direction: column;
  }

  .col-md-4 {
    width: 100%;
  }
}


/* Footer */
.footer {
  background-color: #f4f4f4;
  color: #333;
}

.footer a {
  color: #333;
  text-decoration: none;
}

.footer a:hover {
  color: #000;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2em;
  }

  .hero-text h2 {
    font-size: 1em;
  }
}
